<!-- Navigate back -->

<div class="grid w-full p-2 m-3">
    <div class="col-4 grid">
        <p-button label="Back" (onClick)="goBack()"></p-button>
    </div>
</div>

<!-- Issue Description -->

<div class="grid col-12 w-full justify-content-center align-items-center">
    <div class="grid col-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: large; font-weight: bold;">
        <label>Issue Description</label>
    </div>
</div>

<div class="grid col-12 w-full justify-content-center align-items-center">
    <div class="grid col-6 " style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: large;">
        {{currentIssueDescription}}
    </div>
</div>


<!--  text area  -->

<div class="grid w-full justify-content-center align-items-center">
    <div class="col-6 grid">
        
        <div class="col-12 ">
            <label class="label p-1 w-full" style="font-weight: bold; font-size: large;">Solution</label>
        </div>
        <div class="col-12 w-full">
            <textarea rows="5" class="col-12 w-full" [(ngModel)]="solutionText"></textarea>
        </div>
        
    </div>

    <!-- previous solution  -->

    <div class="grid col-12 w-full justify-content-center align-items-center">
        <!-- <div class="col-6 grid " style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: large;font-weight: bold;">
            <label>Previous Solution</label>
        </div> -->
    </div>

    <div class="grid col-12 justify-content-center align-items-center">
        <div class="col-6 grid">
            {{previousSolution}}
        </div>


        <!--  this is the button to submit the value to the solution data base  -->
    </div>
    <div class="grid col-12 justify-content-center align-items-center ">
       

        <p-button label="Submit" class="mt-3" (onClick)="onSubmit()"></p-button>
    </div>
</div>
