
<div class="container mt-5">
  <h1>Update Issue</h1>
  <form>
    
      <div class="mb-3">
          <label for="issueType" class="form-label">Issue Type</label>
          <input type="text" class="form-control" id="issueType" value="{{issue.issueType}}" readonly>
      </div>
      <div class="mb-3">
          <label for="issueCreationDate" class="form-label">Creation Date</label>
          <input type="text" class="form-control" id="issueCreationDate" value="{{issue.issueCreationDate | date}}" readonly>
      </div>
      <!-- <div class="mb-3">
          <label for="issueUpdationDate" class="form-label">Updation Date</label>
          <input type="text" class="form-control" id="issueUpdationDate" value="{{issue.issueUpdationDate | date}}" readonly>
      </div>
      <div class="mb-3">
          <label for="ticketClose" class="form-label">Ticket Close</label>
          <input type="text" class="form-control" id="ticketClose" value="{{issue.ticketClose ? 'Yes' : 'No'}}" readonly>
      </div> -->
      <div class="mb-3">
          <label for="issueStatus" class="form-label">Issue Status</label>
          <input type="text" class="form-control" id="issueStatus" value="{{issue.issueStatus}}" readonly>
      </div>
      <div class="mb-3">
          <label for="issueDescription" class="form-label">Issue Description</label>
          <textarea class="form-control" id="issueDescription" rows="3" readonly>{{issue.issueDescription}}</textarea>
      </div>
  </form>
</div>

<div class="container">
    <form (ngSubmit)="updateIssueDescription()" #editForm="ngForm">
      <div class="form-group">
        <label for="description">New Issue Description:</label>
        <textarea class="form-control" id="description" name="description" [(ngModel)]="issueDescription" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>

  
    
  
