<table class="table  table-striped custom-table">
  <thead>
    <tr>
      <th>Issue No</th>
      <th>Issue Type</th>
      <th>Description</th>
      <th>Created On</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let issue of data; let i=index">
      <td>{{i+1}}</td>
      <td>{{ issue.issueType }}</td>
      <td>{{ issue.issueDescription }}</td>
      <td>{{ issue.issueCreationDate | date }}</td>
      <td>{{ issue.issueStatus }}</td>
      <td>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteIssue(5402, issue.issueId)">Delete</button>
        <button type="button" class="btn btn-success" >View Solution</button>
      </td>
    </tr>
  </tbody>
</table>
