<p>update-issue works!</p>


<div class="container mt-5">
    <form name="issue">
       
        <!-- required [(ngModel)]="issue.issueDescription -->
        <div class="form-group">
            <label for="issueDescription" class="form-label"><b>Enter the description of issue: </b></label>
            <textarea class="form-control" rows="5" id="issueDescription" name="issueDescription" ></textarea>
        </div>
        <button type="submit" class="btn btn-primary"><b>Save</b></button>
    </form>
</div>
