<div class="heading-container">
    <div class="heading">
        <h2>Operator Service</h2>
    </div>
</div>

<div class="operator-label">
    <label for="operator-name" >Welcome : {{operator}}, Task Allocated !</label>
</div>

<div class="grid w-full justify-content-center align-item-center">
    <div class="col-6 grid">
        <label class="Allocated-issue" >Allocated Issue</label>
    </div>

</div>

<div class="grid w-full justify-content-center align-items-center" id="main">
    <div class="col-8 grid">
        <div class="col-12">
            <table class="table">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"> S.No</th>
                    <th scope="col">Issue Type</th>
                    <th scope="col">Issue </th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Hardware</td>
                    <td>Brake drum </td>
                    <td>completed</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Software</td>
                    <td>parking system</td>
                    <td>pending</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Hardware</td>
                    <td>Rear view mirror</td>
                    <td>completed</td>
                  </tr>
                </tbody>
              </table>
              <div class="button">
                
                <button type="submit" class="btn btn-primary" onclick="">Get  issue</button>
              </div>
                
              
            </div>
        </div>
    </div>
