.heading-container{
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  background-color: mediumseagreen;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 50px;
  margin-top: 20px;
}

.heading{
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  justify-content: center;
  text-align:center;

}

.operator-label{
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px;
  margin-top: 3px;

}

.button{
text-align: right;

}

.icon{
border-radius: 10px;
padding: 10px;
}


#main{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 10px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

.completed {
  color: green;
}

.pending {
  color: red;
}

#Button{
  justify-content: center;
  width: 15px;
  margin-top: 10px;
}

.button-container{
  
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  margin-left: 35%;

}