
<!--  heading  -->
<div class="grid col-12 w-full p-2 m-3">
    <div class="col-11 grid">
        <h3>Operator Service</h3>
    </div>

    <!--  logout button -->
    <div class="col-1 align-items-center">
        <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" class="icon" (onClick)="logout()"></p-button>
    </div>

</div>


<!-- grid component  -->
<div class="grid w-full justify-content-center align-items-center m-2" id="main">
    <div class="col-10 grid">
        <div class="col-12">

            <!-- table component  -->

            <p-table [columns]="cols" [value]="data" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header" let-columns>

                    <!-- table heading  -->
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                        <th class="justify-content-center align-items-center">
                            Add Solution
                        </th>
                    </tr>
                </ng-template>

                <!-- table datas -->
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] }}

                        </td>
                        
                        <!-- navigating to the solution module  -->
                        <td>
                            <div class="grid col-12 justify-content-center align-items-center">
                                <button class="btn btn-primary " (click)="navToSolution(rowData.issueDescription,rowData.issueId)">+</button>
                            </div>
                           
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            
        </div>
    </div>
</div>

