<p>issue-card works!</p>



  <div class="card mb-3 blue">
    <div class="card-body">
      <h5 class="card-title">{{ issue.issueType }}</h5>
      <p class="card-text">Description: {{ issue.issueDescription }}</p>
      <p class="card-text">Created on: {{ issue.issueCreationDate | date }}</p>
      <p class="card-text">Status: {{ issue.issueStatus }}</p>
    </div>
    <div class="card-footer ">
      <button type="button" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-danger" >Delete</button>
    </div>
  </div>

  <!-- (click)="deleteIssue(customer.customerId, issue.issueId)"
   -->
  
